{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Departamento: {{ departamento.nombre }}</h1>

{% if departamento.has_related_objects %}
<p>No puedes eliminar este departamento hasta que todos los objetos relacionados hayan sido eliminados:</p>
<ul>
  {% for related_object in departamento.related_objects %}
    <li>{{ related_object }}</li>
  {% endfor %}
</ul>
{% else %}
<p>¿Estás seguro de que quieres eliminar el departamento?</p>

<form action="{% url 'departamento-delete' pk=departamento.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Sí, eliminar">
</form>
{% endif %}

{% endblock %}
