{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-4">Agregar Nuevo Departamento</h1>
  <form method="post" class="mb-4" id="DepartamentoForm">
    {% csrf_token %}
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
    {% endif %}
    {% if success_message %}
    <div class="alert alert-success" role="alert">
      {{ success_message }}
    </div>
    {% endif %}

    
    <div class="mb-3 row">
      <label for="id_nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        {{ form.nombre }}
        {{ form.nombre.errors }}
      </div>
    </div>



    <div class="mb-3 row">
      <label for="id_descripcion" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-10">
        {{ form.descripcion }}
        {{ form.descripcion.errors }}
      </div>
    </div>




    <div class="mb-3 row">
      <label for="id_archivo" class="col-sm-2 col-form-label">Archivo</label>
      <div class="col-sm-10">
        <input type="file" name="archivo" id="id_archivo">
      </div>
    </div>







    <div class="mb-3 row">
      <label for="id_nombre" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
          {{ form.nombre }}
          {{ form.nombre.errors }}
      </div>
  </div>
  




  <div class="mb-3 row">
      <label for="id_apellido" class="col-sm-2 col-form-label">Apellido:</label>
      <div class="col-sm-10">
          {{ form.apellido }}
          {{ form.apellido.errors }}
      </div>
  </div>
  



  <div class="mb-3 row">
      <label for="id_cedula" class="col-sm-2 col-form-label">Cédula:</label>
      <div class="col-sm-10">
          {{ form.cedula }}
          {{ form.cedula.errors }}
      </div>
  </div>
  


  
  <div class="mb-3 row">
      <label for="id_correo" class="col-sm-2 col-form-label">Correo:</label>
      <div class="col-sm-10">
          {{ form.correo }}
          {{ form.correo.errors }}
      </div>
  </div>
 









    
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Guardar</button>
      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Está seguro de guardar este departamento?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

